.version-all {
    border-color: darkred;
    border-width: 1px;
    border-style: dotted;
    width: auto;
    display: inline;
}
:host(.applied) .version-all {
    border-color: green;
}
:host(.disapplied) {
    display: none;
}

.version-box {
    border-color: darkred;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: pink;
    color: darkred;
    padding: 2px;
    display: inline;
    font-size: 0.75em;
    text-align: right;
}
:host(.applied) .version-box {
    border-color: green;
    background-color: lightgreen;
    color: green;
}

.version-content {
    display: contents;
    margin-top: -0.75em;
    margin-left: 2px;
}